<div class="row">
  <div class="col-xs-5">
    <div class="form-group">
      <%= f.text_field :title, name: 'title[]', placeholder: 'Scan Title', class: 'form-control' %>
    </div>
  </div>
  <div class="col-xs-5">
    <div class="form-group">
      <%= f.text_field :target, name: 'target[]', id: nil, placeholder: 'Target IP Address',  class: 'form-control' %>
    </div>
  </div>
</div>
